/*---------*/
/* Buttons */
/*---------*/

.btn {
    border-radius: 1.5rem;
}


/*-------*/
/* Cards */
/*-------*/

.card {
    padding: 2px;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: unset;
}

.cd-card {
    border-radius: 1rem;
    width: 100%;
}

.cd-card-text {
    padding: 1rem 0;
}